{% extends 'main/base.html.twig' %}
{% block title_detailed %}{% endblock %}
{% block body %}
    {% set locale = app.request.locale %}
    <!-- content -->
    <div class="content">
        <!-- categoties-column -->
        <div class="categoties-column">
            <div class="categoties-column_container cat-list">
            </div>
            <div class="progress-indicator">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="-1 -1 34 34">
                    <circle cx="16" cy="16" r="15.9155"
                            class="progress-bar__background"/>
                    <circle cx="16" cy="16" r="15.9155"
                            class="progress-bar__progress
                                    js-progress-bar"/>
                </svg>
            </div>
        </div>
        <!-- categoties-column end -->
        <!-- Map -->
        <div class="map-container column-map   hid-mob-map">
            <div id="map-main"></div>
            <ul class="mapnavigation no-list-style">
                <li><a href="#" class="prevmap-nav mapnavbtn"><span><i class="fas fa-caret-left"></i></span></a></li>
                <li><a href="#" class="nextmap-nav mapnavbtn"><span><i class="fas fa-caret-right"></i></span></a></li>
            </ul>
            <div class="scrollContorl mapnavbtn tolt" data-microtip-position="top-left" data-tooltip="{% trans %}enable.scrollinglabel{% endtrans %}">
                <span><i class="fal fa-unlock"></i></span></div>
            <div class="location-btn geoLocation tolt" data-microtip-position="top-left" data-tooltip="{% trans %}your.location.label{% endtrans %}">
                <span><i class="fal fa-location"></i></span></div>
            <div class="map-close"><i class="fas fa-times"></i></div>
        </div>
        <!-- Map end -->
        <!-- top-search-content -->
        {{ render(controller('App\\Controller\\Main\\SearchController::advancedSearch')) }}
        <!-- top-search-content end -->
        <!-- col-list-wrap -->
        <div class="col-list-wrap gray-bg ">
            <div class="col-list-wrap_opt fl-wrap">
                <div class="show-hidden-filter col-list-wrap_opt_btn color-bg">Show Filters</div>
                <div class="show-hidden-map not-vis_lap col-list-wrap_opt_btn color-bg">Show Map</div>
            </div>
            <!-- list-main-wrap-header-->
            <div class="list-main-wrap-header fl-wrap fixed-listing-header">
                <div class="container">
                    <!-- list-main-wrap-title-->
                    <div class="list-main-wrap-title">
                        <h2>Results : <span></span><strong>{{ properties|length }}</strong></h2>
                    </div>
                    <!-- list-main-wrap-title end-->
                    <!-- list-main-wrap-opt-->
                    <div class="list-main-wrap-opt">
                        <!-- price-opt-->
{#                        {% if properties|length > 2 %}#}
{#                            <div class="price-opt">#}
{#                                <span class="price-opt-title">{% trans %}sort.by.label{% endtrans %}:</span>#}
{#                                <div class="listsearch-input-item">#}

{#                                        <select name="sort" onchange="this" data-placeholder="{% trans %}select.label{% endtrans %}" class="chosen-select no-search-select">#}
{#                                            <option>{% trans %}select.label{% endtrans %}</option>#}
{#                                            <option  value="asc">{% trans %}price.low.high.label{% endtrans %}</option>#}
{#                                            <option value="desc">{% trans %}price.high.low.label{% endtrans %}</option>#}
{#                                        </select>#}

{#                                </div>#}
{#                            </div>#}
{#                        {% endif %}#}
                        <!-- price-opt end-->
                        <!-- price-opt-->
                        <div class="grid-opt">
                            {% if properties|length %}
                                <ul class="no-list-style">
                                    <li class="grid-opt_act"><span class="fact-grid-opt tolt"
                                                                   data-microtip-position="bottom" data-tooltip="Grid View"><i
                                                    class="far fa-th"></i></span></li>
                                    <li class="grid-opt_act"><span class="one-col-grid tolt" data-microtip-position="bottom"
                                                                   data-tooltip="List View"><i
                                                    class="far fa-list"></i></span></li>
                                </ul>
                            {% endif %}
                        </div>
                        <!-- price-opt end-->
                    </div>
                    <!-- list-main-wrap-opt end-->
                </div>
            </div>
            <!-- list-main-wrap-header end-->
            <!-- listing-item-wrap-->
            <div class="listing-item-container fl-wrap">
                {% if properties %}
                    {% for key,property in properties %}
                        <!-- listing-item -->
                        <div class="listing-item">
                            {% set images = property.propertyImages().getValues() %}
                            <article class="geodir-category-listing fl-wrap">
                                <div class="geodir-category-img fl-wrap">
                                    <a href="{{ path('main_listing_single',{'uuid':property.uuid}) }}"
                                       class="geodir-category-img_item">
                                        {% if images|length %}
                                            {% set image = images[0] %}
                                            <img src="{{ asset('assets/images/properties/property-'~ image.slug ~'/'~ image.imageMd ) }}"
                                                 alt="Property image">
                                        {% else %}
                                            <img src="{{ asset('assets/images/no_image/noImage.png') }}"
                                                 alt="Property image">
                                        {% endif %}
                                        <div class="overlay"></div>
                                    </a>
                                    <div class="geodir-category-location">
                                        <a href="#{{ key+1 }}" class="map-item tolt" data-microtip-position="top-left"
                                           data-tooltip="{% trans %}google.map.label{% endtrans %}"><i
                                                    class="fas fa-map-marker-alt"></i> {{ property.address }}</a>
                                    </div>
                                    <ul class="list-single-opt_header_cat">
                                        <li><a href="#" class="cat-opt blue-bg">{{ property.types }}</a></li>
                                        <li><a href="#" class="cat-opt color-bg">{{ property.category }}</a></li>
                                    </ul>
                                    {% set wishlist = app.session.get('wishlist') %}
                                    {% set compare = app.session.get('compare') %}
                                    <a href="{{ path('main_listing_wishlist',{'uuid':property.uuid}) }}" class="geodir_save-btn tolt " data-microtip-position="left"
                                       data-tooltip="{% trans %}save.label{% endtrans %}"><span>
                                            <i class="fa{{ property.id in wishlist?'s':'l'}} fa-heart "></i>
                                        </span></a>
                                    <a href="{{ path('main_listing_compare',{'uuid':property.uuid}) }}" class="compare-btn tolt" data-microtip-position="left"
                                       data-tooltip="{% trans %}compare.label{% endtrans %}"><span><i
                                                    class="fa{{ property.id in compare?'s':'l'}} fa-random"></i></span></a>
                                    <div class="geodir-category-listing_media-list">
                                        <span><i class="fas fa-camera"></i> {{ images|length }}</span>
                                    </div>
                                </div>
                                <div class="geodir-category-content fl-wrap">
                                    <h3>
                                        <a href="{{ path('main_listing_single',{'uuid':property.uuid}) }}">{{ property.translate(locale).title }}</a>
                                    </h3>
                                    <div class="geodir-category-content_price">
                                        {{ render(controller('App\\Controller\\Main\\ListingController::convert',{
                                            'price': property.price,
                                            'code': app.request.defaultCurrencylocale
                                        })) }}
                                    </div>
                                    {% set desc = property.translate(locale).description %}
                                    <div class="desc">{{ desc|length > 50?desc|slice(0,100)~'...':desc }}</div>
                                    <div class="geodir-category-content-details">
                                        <ul>
                                            <li><i class="fal fa-bed"></i><span>{{ property.bedrooms }}</span></li>
                                            <li><i class="fal fa-bath"></i><span>{{ property.bathrooms }}</span></li>
                                            <li><i class="fal fa-cube"></i><span>{{ property.area }} m2</span></li>
                                        </ul>
                                    </div>
                                    <div class="geodir-category-footer fl-wrap">
                                        {% set avatars = property.agent.userImages().getValues() %}
                                        <a href="{{ path('main_profile_show',{'uuid': property.agent.uuid}) }}"
                                           target="_blank" class="gcf-company">
                                            {% if avatars|length %}
                                                {% set avatar = avatars[0] %}
                                                <img src="{{ asset('assets/images/avatar-'~property.agent.id~'/'~avatar.fileNameMiddle) }}"
                                                     alt="">
                                            {% else %}
                                                <i class="fas fa-user" style="font-size: 20px;"></i>
                                            {% endif %}
                                            <span>{{ property.agent.firstName }} {{ property.agent.lastName }}</span></a>
                                        {{ render(controller('App\\Controller\\Main\\AgentProfileController::reviewAgent',{
                                            'user':property.agent,
                                        })) }}
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- listing-item end-->
                    {% endfor %}
                {% endif %}
            </div>
            <!-- listing-item-wrap end-->
            <!-- pagination-->
            <div class="pagination">
                {{ knp_pagination_render(properties) }}
            </div>
            <!-- pagination end-->
{#            <div class="small-footer fl-wrap">#}
{#                <div class="copyright"> © {{ 'now'|date('Y') }} . All rights reserved.</div>#}
{#            </div>#}
        </div>
        <!-- col-list-wrap end -->
    <!-- content end -->
    {{ include('main/listing/_embed/listing_map/_listing_map.html.twig') }}
{% endblock %}