<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
<head {{ sonata_seo_head_attributes() }}>
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/plugins.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/color.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/dashboard-style.css') }}">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<!--loader-->
<div class="loader-wrap">
    <div class="loader-inner">
        <svg>
            <defs>
                <filter id="goo">
                    <fegaussianblur in="SourceGraphic" stdDeviation="2" result="blur"/>
                    <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 5 -2" result="gooey"/>
                    <fecomposite in="SourceGraphic" in2="gooey" operator="atop"/>
                </filter>
            </defs>
        </svg>
    </div>
</div>
<!--loader end-->
<!-- main -->
<div id="main">
    <!-- header -->
    {{ include('main/_embed/_main_header/_header.html.twig') }}
    <!-- header end  -->
    <!-- wrapper  -->
    <div id="wrapper">
        <!-- dashbard-menu-wrap -->
        {{ include('main/_embed/_main_dashboard/_main_dashbard_menu/dashbard_menu.html.twig') }}
        <!-- dashbard-menu-wrap end  -->
        <!-- content -->
        <div class="dashboard-content">
            <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
            <div class="container dasboard-container">
                <!-- dashboard-title -->
                {{ include('main/_embed/_flash_message/_flash_message.html.twig') }}
                {{ include('main/_embed/_main_dashboard/_main_dashboard_title/_dashboard_title.html.twig') }}
                <!-- dashboard-title end -->
                {% block body %}{% endblock %}
            </div>
            <!-- footer -->
            {{ include('main/_embed/_main_dashboard/_main_dashboard_footer/_footer_dashboard.html.twig') }}
            <!-- footer end -->
        </div>
        <!-- content end -->
        <div class="dashbard-bg gray-bg"></div>
    </div>
    <!-- wrapper end -->
</div>
<!-- Main end -->
<!--=============== scripts  ===============-->
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins.js') }}"></script>
    <script src="{{ asset('assets/js/scripts.js') }}"></script>
    <script src="{{ asset('assets/js/dashboard.js') }}"></script>
{#    {{ encore_entry_script_tags('app') }}#}
{% endblock %}
</body>
</html>
