<div class="dashboard-title fl-wrap">
    <div class="dashboard-title-item"><span>{{ wo_render_breadcrumbs() }}</span>
    </div>
    <div class="dashbard-menu-header">
        <div class="dashbard-menu-avatar fl-wrap">
            {% set avatars = app.user.userImages().getValues() %}
            {% if avatars|length %}
                {% set avatar = avatars[0] %}
                <img src="{{ asset('assets/images/avatar-'~app.user.id~'/'~avatar.fileNameMiddle ) }}" alt="{{ avatar.fileNameMiddle  }}">
            {% else %}
               &nbsp; <i class="fas fa-user " style="font-size: 16px;margin-top: 7px;color: #cccccc"></i>
            {% endif %}
            <h4>{% trans %}welcome.label{% endtrans %} <span>{{ app.user.firstName }}</span></h4>
        </div>
        <a href="{{ path('app_logout') }}" class="log-out-btn   tolt" data-microtip-position="bottom"  data-tooltip="{% trans %}logout.label{% endtrans %}"><i class="far fa-power-off"></i></a>
    </div>
    <!--Tariff Plan menu-->
   {{ render(controller('App\\Controller\\Main\\Dashboard\\DashboardController::checkUserPlan')) }}

</div>