{% extends 'main/base_dashboard.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% set locale = app.request.locale %}
    <div class="dasboard-wrapper fl-wrap">
        <div class="dasboard-widget-title fl-wrap">
            <h5><i class="fal fa-comments-alt"></i></h5>
            <a href="dashboard-review.html#" class="mark-btn  tolt" data-microtip-position="bottom" data-tooltip="Mark all as read"><i class="far fa-comment-alt-check"></i> </a>
        </div>
        <div class="dasboard-widget-box fl-wrap">
            <!-- reviews-comments-item -->
            {% if comments|length %}
                {% for comment in comments %}
                    <div class="reviews-comments-item">
                        <div class="review-comments-avatar">
                            {% set avatars =  comment.author.userImages().getValues() %}
                            {% if avatars|length %}
                                {% set avatar = avatars[0] %}
                                <img src="{{ asset('assets/images/avatar-'~comment.author.id~'/'~avatar.fileNameMiddle) }}" alt="Avatar">
                            {% else %}
                                <img src="{{ asset('assets/images/no_image/noImage.png') }}" alt="Avatar">
                            {% endif %}
                        </div>
                        <div class="reviews-comments-item-text smpar">
{#                            <div class="box-widget-menu-btn smact"><i class="far fa-ellipsis-h"></i></div>#}
                            <div class="show-more-snopt-tooltip bxwt">
                                <a href="#"> <i class="fas fa-reply"></i> Reply</a>
                                <a href="#"> <i class="fas fa-exclamation-triangle"></i> Report </a>
                            </div>
                            <h4><a href="#">{{ comment.author.firstName|capitalize}} {{ comment.author.lastName|capitalize}}
                                    <a href="{{comment.property? path('main_listing_single',{'uuid':comment.property.uuid}):false }}" target="_blank">  <span>{{comment.property? comment.property.translate(locale).title:false}} </span></a>
                                </a></h4>
                            {{ render(controller('App\\Controller\\Main\\AgentProfileController::reviewsFromAuthor',{
                                'uuid':comment.author.uuid,
                                'reviews':comment
                            })) }}
                            <div class="clearfix"></div>
                            <p> {{ comment.text}}</p>
                            <div class="reviews-comments-item-date">
                            <span class="reviews-comments-item-date-item">
                                <i class="far fa-calendar-check"></i>
                                {{ comment.createdAt|date('d-m-Y') }}
                            </span>
{#                                <a href="#" class="rate-review"><i class="fal fa-thumbs-up"></i>  Helpful Review  <span>6</span> </a>#}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-sm-12" style="color: #3270FC; font-size: 25px">
                    <i class="fas fa-kiss-beam"></i>
                </div>
            {% endif %}

            <!--reviews-comments-item end-->
        </div>
        <!-- pagination-->
        <div class="pagination float-pagination">
            {{ knp_pagination_render(comments) }}
        </div>
        <!-- pagination end-->
    </div>
{% endblock %}