<!-- header -->
<header class="main-header">
    <!--  logo  -->
    <div class="logo-holder">
        <a href="{{ path('app_home') }}">
            <img src="{{ asset('assets/images/logo-'~settings.logoPath~'/'~settings.logo) }}" alt="Logo">
        </a></div>
    <!-- logo end  -->
    <!-- nav-button-wrap-->
    <div class="nav-button-wrap color-bg nvminit">
        <div class="nav-button">
            <span></span><span></span><span></span>
        </div>
    </div>
    <!-- nav-button-wrap end-->
    <!-- header-search button  -->
    <div class="header-search-button">
        <i class="fal fa-search"></i>
        <span>{% trans %}search.label{% endtrans %}...</span>
    </div>
    <!-- header-search button end  -->
    <!--  add new  btn -->
    <div class="add-list_wrap">
        <a href="{{ path('main_add_listing') }}" class="add-list color-bg"><i class="fal fa-plus"></i>
            <span>{% trans %}add.listing.label{% endtrans %}</span></a>
    </div>
    <!--  add new  btn end -->
    <!--  header-opt_btn -->
    <div class="header-opt_btn tolt" data-microtip-position="bottom"
         data-tooltip="{% trans %}language.currency.heading{% endtrans %}">
        <span><i class="fal fa-globe"></i></span>
    </div>
    <!--  header-opt_btn end -->
    <!--  cart-btn   -->
    <div class="cart-btn  tolt show-header-modal" data-microtip-position="bottom"
         data-tooltip="{% trans %}wishlist.compare.heading{% endtrans %}">
        {% set wishlistCompares = app.session.get('wishlist')|length + app.session.get('compare')|length %}
        <i class="fal fa-bell"></i>
        <span class="cart-btn_counter color-bg">{{ wishlistCompares }}</span>
    </div>
    <!--  cart-btn end -->
    <!--  login btn -->
    {% if app.user %}
        <div class="show-reg-form dasbdord-submenu-open">
            {% set avatars = app.user.userImages().getValues() %}
            {% if avatars|length %}
                {% set avatar = avatars[0] %}
                <img src="{{ asset('assets/images/avatar-'~app.user.id~'/'~avatar.fileNameMiddle) }}"
                     alt="{{ avatar.fileNameMiddle }}">
            {% else %}
                <i class="fas fa-user" style="font-size: 20px;"></i>
            {% endif %}
        </div>
        <div class="dashboard-submenu">
            <div class="dashboard-submenu-title fl-wrap">{% trans %}welcome.label{% endtrans %}
                <span>{{ app.user.firstName }}</span></div>
            {{ knp_menu_render('smallMenu',{'currentClass': 'active'}) }}
            <a href="{{ path('app_logout') }}" class="color-bg db_log-out"><i
                        class="far fa-power-off"></i> {% trans %}logout.label{% endtrans %}</a>
        </div>
    {% else %}
        <div class="show-reg-form"><a href="{{ path('app_login') }}"><i
                        class="fas fa-user"></i><span>{% trans %}sign.in.label{% endtrans %}</span></a></div>
    {% endif %}
    <!--  login btn  end -->
    <!--  navigation -->
    <div class="nav-holder main-menu">
        <nav>
            <ul class="no-list-style">
                <li><a href="{{ path('app_home') }}">Home</a></li>
                {{ render(controller('App\\Controller\\Main\\MenuRenderController::menuNavigate')) }}
                <li>
                    <a href="#" class="act-link">{% trans %}properties.label{% endtrans %} <i class="fa fa-caret-down"></i></a>
                    <ul>
                        {{ render(controller('App\\Controller\\Main\\MenuRenderController::categoryNavigate')) }}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!-- navigation  end -->
    <!-- header-search-wrapper -->
    {{ render(controller('App\\Controller\\Main\\SearchController::search')) }}
    <!-- header-search-wrapper end  -->
    <!-- wishlist-wrap-->

    <div class="header-modal novis_wishlist tabs-act">
        {{ render(controller('App\\Controller\\Main\\WishlistCompareController::wishlistCompare')) }}
    </div>
    <!--wishlist-wrap end -->
    <!--header-opt-modal-->
    <div class="header-opt-modal novis_header-mod">
        <div class="header-opt-modal-container hopmc_init">
            {{ render(controller('App\\Controller\\Main\\LocalesController::showLocalesLanguage')) }}
        </div>
    </div>
    <!--header-opt-modal end -->
    {{ include('main/_embed/_flash_message/_flash_message.html.twig') }}
</header>
<!-- header end  -->