{% extends 'main/base_dashboard.html.twig' %}
{% block body %}
    <div class="dasboard-wrapper fl-wrap no-pag">
        <div class="row">
            <div class="col-md-7">
                {{ form_start(form) }}
                <div class="dasboard-widget-title fl-wrap">
                    <h5><i class="fas fa-user-circle"></i>{% trans %}change.avatar.label{% endtrans %}</h5>
                </div>
                <div class="dasboard-widget-box nopad-dash-widget-box fl-wrap">
                    <div class="edit-profile-photo">
                        {% set avatars = app.user.userImages().getValues() %}
                        {% if avatars|length %}
                            {% set avatar = avatars[0] %}
                            <img src="{{ asset('assets/images/avatar-'~app.user.id~'/'~avatar.fileNameMiddle ) }}" alt="{{ avatar.fileNameMiddle  }}">

                        {% endif %}
                        <div class="change-photo-btn">
                            <div class="photoUpload">
                                {{ form_row(form.newImage) }}
{#                                <span>{% trans %}new.photo.label{% endtrans %}</span>#}
{#                                <input type="file" class="upload">#}
                            </div>
                        </div>
                    </div>
                    <div class="bg-wrap bg-parallax-wrap-gradien">
                        <div class="bg"  data-bg="{{ asset('assets/images/cover/3.jpg') }}"></div>
                    </div>
                    <div class="change-photo-btn cpb-2  ">
                        <div class="photoUpload color-bg">
                            <span> <i class="far fa-camera"></i> {% trans %}new.cover.label{% endtrans %} </span>
                            <input type="file" class="upload">
                        </div>
                    </div>
                </div>
                <div class="dasboard-widget-title fl-wrap">
                    <h5><i class="fas fa-key"></i>{% trans %}personal.info.label{% endtrans %}</h5>
                </div>
                <div class="dasboard-widget-box fl-wrap">
                    <div class="custom-form">
                        <label></label>
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.agency) }}
                        {{ form_row(form.aboutMe) }}
                        <button class="btn color-bg float-btn">{% trans %}save.changes.label{% endtrans %}</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-md-5">
                <div class="dasboard-widget-title dbt-mm fl-wrap">
                    <h5><i class="fas fa-key"></i>{% trans %}reset.password.label{% endtrans %}</h5>
                </div>
                <div class="dasboard-widget-box fl-wrap">
                    <div class="custom-form">
                        {{ form_start(formChangePassword) }}
                        <div class="pass-input-wrap fl-wrap">
                            {{ form_row(formChangePassword.current_password) }}
                            <span class="eye"><i class="far fa-eye" aria-hidden="true"></i> </span>
                        </div>
                        <div class="pass-input-wrap fl-wrap">
                           {{ form_row(formChangePassword.password.first) }}
                            <span class="eye"><i class="far fa-eye" aria-hidden="true"></i> </span>
                        </div>
                        <div class="pass-input-wrap fl-wrap">
                           {{ form_row(formChangePassword.password.second) }}
                            <span class="eye"><i class="far fa-eye" aria-hidden="true"></i> </span>
                        </div>
                        <button type="submit" class="btn color-bg float-btn">{% trans %}save.changes.label{% endtrans %}</button>
                        {{ form_end(formChangePassword) }}
                    </div>
                </div>
                <div class="dasboard-widget-title fl-wrap" style="margin-top: 30px;">
                    <h5><i class="fas fa-share-alt"></i>Your Socials</h5>
                </div>
                <div class="dasboard-widget-box fl-wrap">
                    <div class="custom-form">
                        <label>Facebook  <span class="dec-icon"><i class="fab fa-facebook"></i></span></label>
                        <input type="text" placeholder="https://www.facebook.com/" value=""/>
                        <label>Twitter <span class="dec-icon"><i class="fab fa-twitter"></i></span></label>
                        <input type="text" placeholder="https://twitter.com/" value=""/>
                        <label>Instagram<span class="dec-icon"><i class="fab fa-instagram"></i>  </span></label>
                        <input type="text" placeholder="https://www.instagram.com/" value=""/>
                        <label>Vkontakte<span class="dec-icon"><i class="fab fa-vk"></i>  </span></label>
                        <input type="text" placeholder="https://vk.com/" value=""/>
                        <button class="btn    color-bg  float-btn">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}