{% extends 'main/base_dashboard.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="dasboard-wrapper fl-wrap no-pag">
        <div class="dashboard-stats-container fl-wrap">
            <div class="row">
                <!--dashboard-stats-->
                <div class="col-sm-4">
                    <div class="dashboard-stats fl-wrap">
                        <i class="fal fa-map-marked"></i>
                        <h4>{% trans %}active.listings.label{% endtrans %}</h4>
                        <div class="dashboard-stats-count">{{ properties?properties:0 }}</div>
                    </div>
                </div>
                <!-- dashboard-stats end -->
                <!--dashboard-stats-->
                <div class="col-sm-4">
                    <div class="dashboard-stats fl-wrap">
                        <i class="fal fa-chart-bar"></i>
                        <h4>{% trans %}listing.iews.label{% endtrans %}</h4>
                        <div class="dashboard-stats-count">{{ listingViews?listingViews:0 }}</div>
                    </div>
                </div>
                <!-- dashboard-stats end -->
                <!--dashboard-stats-->
                <div class="col-sm-4">
                    <div class="dashboard-stats fl-wrap">
                        <i class="fal fa-comments-alt"></i>
                        <h4>{% trans %}reviews.label{% endtrans %}</h4>
                        <div class="dashboard-stats-count">{{ reviews|length }}</div>
                    </div>
                </div>
                <!-- dashboard-stats end -->
                <!--dashboard-stats-->
                <!-- dashboard-stats end -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="dashboard-widget-title fl-wrap">{% trans %}your.statistic.label{% endtrans %}</div>
                <div class="dasboard-content fl-wrap">
                    <!-- chart-wra-->
                    <div class="chart-wrap   fl-wrap">
                        <canvas id="myChart" width="auto" height="auto"></canvas>
                    </div>
                    <!--chart-wrap end-->
                </div>
            </div>
{#            <div class="col-md-4">#}
{#                <!--box-widget-->#}
{#                <div class="dasboard-widget fl-wrap">#}
{#                    <div class="dasboard-widget-title fl-wrap">#}
{#                        <h5><i class="fas fa-comment-alt"></i>Last Messages</h5>#}
{#                    </div>#}
{#                    <div class="chat-contacts fl-wrap">#}
{#                        <!-- chat-contacts-item-->#}
{#                        <a class="chat-contacts-item" href="dashboard.html#">#}
{#                            <div class="dashboard-message-avatar">#}
{#                                <img src="images/avatar/2.jpg" alt="">#}
{#                                <div class="message-counter">2</div>#}
{#                            </div>#}
{#                            <div class="chat-contacts-item-text">#}
{#                                <h4>Mark Rose</h4>#}
{#                                <span>27 Dec 2018 </span>#}
{#                                <p>Vivamus lobortis vel nibh nec maximus. Donec dolor erat, rutrum ut feugiat sed,#}
{#                                    ornare vitae nunc. Donec massa nisl, bibendum id ultrices sed, accumsan sed#}
{#                                    dolor.</p>#}
{#                            </div>#}
{#                        </a>#}
{#                        <!-- chat-contacts-item --> #}
{#                    </div>#}
{#                </div>#}
{#                <!--box-widget end -->#}
{#            </div>#}
        </div>
    </div>
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    {% for d in months %}
                    "{{ d }}",
                    {% endfor %}
                ],
                datasets: [{
                    label: '{% trans %}your.statistic.label{% endtrans %}',
                    data: [{{ count|join(', ') }}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 1,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
        });
    </script>
{% endblock %}
